*{
    color: rgb(46, 42, 42);
    font-style: normal;
}
body{
    background-color: rgb(166, 162, 224);
}
a{
    margin-left: 21%;
    padding: 1.5%;
     
}
/* a:hover{
    background-color: rgb(114, 173, 212);
} */
h1{
    text-align: center;
}
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
.title-img{
    margin-left: 40%;
    border-radius: 50%;
}
.info{
    border-top: 2px rgb(43, 22, 22) solid;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
